.none-display{
    display: none;
}

#none-display{
    display: none;
}

.res-two {
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;


    background-color: #FFFBFC;
    max-height: fit-content;
    min-height: 95%;
    border-radius: 5px;
}

.res-two-header {
    text-align: center;
    margin-bottom: 10px;
}

.res-two-header h1 {
    margin: 0;
}

.res-two-header h2 {
    color: #555;
    margin: 5px 0;
}

.res-two-header p {
    font-size: 12px;
    color: #777;
}

.res-two-section {
    margin-bottom: 5px;
}

.res-two-section h3 {
    color: #444;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
}

.res-two-item {
    margin-bottom: 0px;
    padding-left: 10px;
}

.res-two-item h4 {
    margin: 0;
}

.none-display {
    display: none;
}

span.project-heading{
    display: flex;
    flex-direction: row;
    gap: 5px;
}




div.contact-info{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
}

img{
    width: 15px;
    height: 15px;
}

div.contact-info > div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
    padding-left: 2px;
}


a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

